n8n/ekio-n8n-workflow.json
{
  "name": "EKIO — Diagnóstico EHS",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ekio-diagnostico",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "b8e7d62e-5b97-4a36-9078-a01f78d94480",
      "name": "Webhook EKIO",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-880, 112],
      "webhookId": "ekio-diagnostico"
    },
    {
      "parameters": {
        "jsCode": "// ─── EKIO: Preparar payload Klaviyo ───────────────────────────────\nconst body = $input.first().json.body ?? $input.first().json;\n\nconst email       = (body.email       || '').trim();\nconst nombre      = (body.nombre      || '').trim();\nconst ciudad      = (body.ciudad      || '').trim();\nconst whatsapp    = (body.whatsapp    || '').trim();\nconst wa_opt      = body.opt_in__promotional_whatsapp === true;\nconst score       = Number(body.score_total) || 0;\nconst perfil      = body.perfil       || '';\nconst perfil_slug = body.perfil_slug  || '';\nconst nivel       = Number(body.nivel) || 0;\nconst subscores   = body.subscores    || {};\nconst respuestas  = body.respuestas   || {};\nconst fecha       = body.fecha        || new Date().toISOString();\n\n// Atributos del perfil — incluye phone_number si hay whatsapp\nconst profileAttributes = {\n  email,\n  first_name: nombre,\n  location: { city: ciudad },\n  properties: {\n    score_total: score,\n    Score_TF_EncuestaSensibilidad: score,\n    perfil_ehs: perfil,\n    perfil_slug: perfil_slug,\n    nivel_ehs: nivel,\n    whatsapp: whatsapp,\n    ciudad: ciudad,\n    opt_in__promotional_whatsapp: wa_opt,\n    subscore_energia:        subscores.energia        || 0,\n    subscore_sueno:          subscores.sueno          || 0,\n    subscore_emocional:      subscores.emocional      || 0,\n    subscore_piel:           subscores.piel           || 0,\n    subscore_cardiovascular: subscores.cardiovascular || 0,\n    subscore_digestivo:      subscores.digestivo      || 0,\n    subscore_auditivo:       subscores.auditivo       || 0,\n    subscore_neurologico:    subscores.neurologico    || 0,\n    subscore_visual:         subscores.visual         || 0,\n    subscore_facial:         subscores.facial         || 0,\n    ...Object.fromEntries(\n      Object.entries(respuestas).map(([k, v]) => [`resp_${k}`, v])\n    )\n  }\n};\n\n// Añadir phone_number al perfil cuando hay número de WhatsApp\nif (whatsapp && whatsapp.length > 4) {\n  profileAttributes.phone_number = whatsapp;\n}\n\nconst klaviyoPayload = {\n  data: {\n    type: 'event',\n    attributes: {\n      time: fecha,\n      metric: {\n        data: {\n          type: 'metric',\n          attributes: { name: 'Diagnostico_Completado' }\n        }\n      },\n      profile: {\n        data: {\n          type: 'profile',\n          attributes: profileAttributes\n        }\n      },\n      properties: {\n        score_total: score,\n        perfil_ehs: perfil,\n        perfil_slug: perfil_slug,\n        nivel_ehs: nivel,\n        ciudad: ciudad\n      }\n    }\n  }\n};\n\nconst klaviyoPayloadLegacy = {\n  data: {\n    type: 'event',\n    attributes: {\n      time: fecha,\n      metric: {\n        data: {\n          type: 'metric',\n          attributes: { name: 'Formulario Cumplimentado' }\n        }\n      },\n      profile: {\n        data: {\n          type: 'profile',\n          attributes: {\n            email,\n            first_name: nombre,\n            properties: {}\n          }\n        }\n      },\n      properties: {\n        formName: 'Encuesta de Valoración de Sensibilidad a la Contaminación Electromagnética',\n        score_total: score,\n        Score_TF_EncuestaSensibilidad: score\n      }\n    }\n  }\n};\n\n// Payload suscripción WhatsApp (solo usado cuando wa_opt=true)\nconst klaviyoWhatsAppSubscription = {\n  data: {\n    type: 'profile-subscription-bulk-create-job',\n    attributes: {\n      profiles: {\n        data: [{\n          type: 'profile',\n          attributes: {\n            phone_number: whatsapp,\n            email: email,\n            subscriptions: {\n              sms: {\n                marketing: {\n                  consent: 'SUBSCRIBED'\n                }\n              }\n            }\n          }\n        }]\n      }\n    },\n    relationships: {\n      list: {\n        data: {\n          type: 'list',\n          id: 'S523PV'\n        }\n      }\n    }\n  }\n};\n\nreturn [{\n  json: {\n    klaviyoPayload,\n    klaviyoPayloadLegacy,\n    klaviyoWhatsAppSubscription,\n    whatsapp_send: wa_opt && whatsapp.length > 4,\n    whatsapp,\n    nombre,\n    email,\n    score,\n    perfil,\n    perfil_slug,\n    nivel\n  }\n}];"
      },
      "id": "e0992dc5-c714-4f01-9dfb-b8f799986f04",
      "name": "Preparar payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-656, 112]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://a.klaviyo.com/api/profile-subscription-bulk-create-jobs/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Klaviyo-API-Key pk_RbTNV3_5531171c992b3c3830cf91ac1758f55374" },
            { "name": "revision", "value": "2023-10-15" },
            { "name": "Content-Type", "value": "application/vnd.api+json" },
            { "name": "Accept", "value": "application/vnd.api+json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/vnd.api+json",
        "body": "={{ JSON.stringify({ data: { type: 'profile-subscription-bulk-create-job', attributes: { profiles: { data: [{ type: 'profile', attributes: { email: $('Preparar payload').first().json.email, subscriptions: { email: { marketing: { consent: 'SUBSCRIBED' } } } } }] } }, relationships: { list: { data: { type: 'list', id: 'S523PV' } } } } }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "f1a2b3c4-d5e6-7890-abcd-ef1234567890",
      "name": "Klaviyo — Suscribir a Lista",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-552, 112]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://a.klaviyo.com/api/events/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Klaviyo-API-Key pk_RbTNV3_5531171c992b3c3830cf91ac1758f55374" },
            { "name": "revision", "value": "2023-10-15" },
            { "name": "Content-Type", "value": "application/vnd.api+json" },
            { "name": "Accept", "value": "application/vnd.api+json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/vnd.api+json",
        "body": "={{ JSON.stringify($('Preparar payload').first().json.klaviyoPayload) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "d263a71e-6bf1-4543-a096-74dc8213cf89",
      "name": "Klaviyo — Crear Evento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-448, 112]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://a.klaviyo.com/api/events/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Klaviyo-API-Key pk_RbTNV3_5531171c992b3c3830cf91ac1758f55374" },
            { "name": "revision", "value": "2023-10-15" },
            { "name": "Content-Type", "value": "application/vnd.api+json" },
            { "name": "Accept", "value": "application/vnd.api+json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/vnd.api+json",
        "body": "={{ JSON.stringify($('Preparar payload').first().json.klaviyoPayloadLegacy) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "3c1db7b4-91d3-415e-9361-f8e6bc73229c",
      "name": "Klaviyo — Formulario Cumplimentado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-240, 112]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "whatsapp-condition",
              "leftValue": "={{ $('Preparar payload').first().json.whatsapp_send }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b01fedc6-6caf-4ecf-b24d-b3c04755a67f",
      "name": "¿WhatsApp opt-in?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-16, 112]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://a.klaviyo.com/api/profile-subscription-bulk-create-jobs/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Klaviyo-API-Key pk_RbTNV3_5531171c992b3c3830cf91ac1758f55374" },
            { "name": "revision", "value": "2023-10-15" },
            { "name": "Content-Type", "value": "application/vnd.api+json" },
            { "name": "Accept", "value": "application/vnd.api+json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/vnd.api+json",
        "body": "={{ JSON.stringify($('Preparar payload').first().json.klaviyoWhatsAppSubscription) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef0987654321",
      "name": "Klaviyo — Suscribir WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [208, 0]
    },
    {
      "parameters": {},
      "id": "5883f1cf-17d7-4340-bf9c-fd8b059dbf57",
      "name": "Sin WhatsApp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [208, 224]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"ok\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [416, 0],
      "id": "a6039496-f7cf-430d-a45d-62345bf2899c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"ok\"}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [416, 224],
      "id": "d79e8f66-3c72-4d5b-9667-4f38a0f7241d",
      "name": "Respond to Webhook1"
    }
  ],
  "connections": {
    "Webhook EKIO": {
      "main": [[{ "node": "Preparar payload", "type": "main", "index": 0 }]]
    },
    "Preparar payload": {
      "main": [[{ "node": "Klaviyo — Suscribir a Lista", "type": "main", "index": 0 }]]
    },
    "Klaviyo — Suscribir a Lista": {
      "main": [[{ "node": "Klaviyo — Crear Evento", "type": "main", "index": 0 }]]
    },
    "Klaviyo — Crear Evento": {
      "main": [[{ "node": "Klaviyo — Formulario Cumplimentado", "type": "main", "index": 0 }]]
    },
    "Klaviyo — Formulario Cumplimentado": {
      "main": [[{ "node": "¿WhatsApp opt-in?", "type": "main", "index": 0 }]]
    },
    "¿WhatsApp opt-in?": {
      "main": [
        [{ "node": "Klaviyo — Suscribir WhatsApp", "type": "main", "index": 0 }],
        [{ "node": "Sin WhatsApp", "type": "main", "index": 0 }]
      ]
    },
    "Klaviyo — Suscribir WhatsApp": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    },
    "Sin WhatsApp": {
      "main": [[{ "node": "Respond to Webhook1", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "8af8ad58ceaa7128317f71b54e3ce8551773f7bea5d95541a73fce3fcaa86443"
  },
  "id": "ckbdWCJ9DofNSJAw",
  "tags": [
    {
      "updatedAt": "2026-05-28T15:09:38.100Z",
      "createdAt": "2026-05-28T15:09:38.100Z",
      "id": "EcZMSgpad5eY3wS3",
      "name": "diagnostico"
    },
    {
      "updatedAt": "2026-05-28T15:09:38.036Z",
      "createdAt": "2026-05-28T15:09:38.036Z",
      "id": "nm6KzNm2OPZvGVnd",
      "name": "ekio"
    }
  ]
}
